$colors: (
        dark-0: #222222,

        grey-0: #9F9F9F,

        light-0: #FFFFFF,

        pink-0: #F26376,
        pink-1: #FF6A6A,
        pink-2: #F16D7F,

        dark-a-0: rgba(33, 22, 22, 0.7),
)
